<ion-header class="ion-text-center rounded-bottom-5 ">
  <ion-toolbar color="primary" class="rounded-bottom-5">
    <ion-title>ALARMA</ion-title>
  </ion-toolbar>
</ion-header>
<ion-grid scrollEnabled="false" class="ion-justify-content-evenly">
  <div class="back-ground-container">
    <img src="../../assets/app3S.png" alt="Fondo" class="back-ground-container">
  </div>
  <ion-row>
    <ion-col class="ps-3 top-animation-container" size="1">
      <h1 class="animated ion-text-center">E</h1>
      <h1 class="animated ion-text-center">d</h1>
      <h1 class="animated ion-text-center">u</h1>
      <h1 class="animated ion-text-center">a</h1>
      <h1 class="animated ion-text-center">r</h1>
      <h1 class="animated ion-text-center">d</h1>
      <h1 class="animated ion-text-center">o</h1>
    </ion-col>
    <ion-col size="10" class="mid-animation-container">
      <img src="../../assets/app3IconS.png" alt="Top Animation" class="animated">
    </ion-col>
    <ion-col size="1" class="top-animation-container pe-3">

      <h1 class="animated ion-text-center">S</h1>
      <h1 class="animated ion-text-center">o</h1>
      <h1 class="animated ion-text-center">s</h1>
      <h1 class="animated ion-text-center">a</h1>
    </ion-col>

  </ion-row>
  <ion-row>
    <div class="bottom-animation-container  ">
      <h1 class="animated ion-text-center seccion">4-A </h1>
    </div>
  </ion-row>
</ion-grid>
<ion-footer class="ion-text-center rounded-bottom-5 ">
  <ion-toolbar color="primary" class="rounded-top-5">
    <ion-title>ANTI-ROBO</ion-title>
  </ion-toolbar>
</ion-footer>